/* Page center */
.songdiv {
  min-height: 100vh;
 background-color:#142d4c ;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 100%;
}

/* Container */
.songul {
  width: 100%;
  background: #111;
  border-radius: 14px;
  padding: 10px;
  list-style: none;
}

/* Each song row */
.songitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 12px;
  border-bottom: 1px solid #222;
}

.songitem:last-child {
  border-bottom: none;
}

/* Left side info */
.songinfo h2 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 4px;
}

.songinfo p {
  font-size: 13px;
  color: #aaa;
}

/* Right side icon */
.songaction i {
  font-size: 36px;
  color: #1db954; /* Spotify green */
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.songaction i:hover {
  transform: scale(1.15);
  color: #1ed760;
}
.songtitle{
  color: #ffff;
}
